{% extends 'base.html' %}
{% block title %}Edit Article{% endblock %}
{% load static %}
{% block main %}
<style>
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
</style>

<div class="container emp-profile">
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.old_password.label}}
    {{form.old_password}}
    <br>
    {{form.new_password1.label}}
    {{form.new_password1}}
    <br>
    {{form.new_password2.label}}
    {{form.new_password2}}
    <br>
    <button type="submit" class="btn btn-primary" >Edit Profile</button>
</form>
<br><br>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

</div> 

{% endblock %}