{% extends 'base.html' %}
{% block title %}{{article.title}}{% endblock %}
{% load static %}
{% block main %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<!------ Include the above in your HEAD tag ---------->
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
  .h7
		{
			font-size: 0.9rem;
		}
  .emp-profile{
      padding: 3%;
      margin-top: 3%;
      margin-bottom: 3%;
      border-radius: 0.5rem;
      background: #fff;

  }
  /* CSS Test begin */
.comment-box {
    margin-top: 30px !important;
}
/* CSS Test end */

.comment-box img {
    width: 50px;
    height: 50px;
}
.comment-box .media-left {
    padding-right: 10px;
    width: 65px;
}
.comment-box .media-body p {
    border: 1px solid #ddd;
    padding: 10px;
}
.comment-box .media-body .media p {
    margin-bottom: 0;
}
.comment-box .media-heading {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 7px 10px;
    position: relative;
    margin-bottom: -1px;
}
.comment-box .media-heading:before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    left: -6px;
}
</style>
<div class="card">
    <div class="card-body">
      <h3 class="card-title">{{article.title}}</h3>
      <p class="card-text"><small class="text-muted">Reviewed by "{{article.user}}"</small></p>
      <p class="card-text">{{article.content|safe}}</p>
      <p class="card-text"><small class="text-muted">Last updated in {{article.published_at}}</small></p>
      
    </div>
    <img src="{{article.image.url}}" class="card-img-top" alt="...">
  </div>
  


<div class="card text-center emp-profile">
    <div class="card-body">
        <h3 class="card-title">🥳Comment : there is {{comments.count}} comments🥳</h3>
        {% if request.user.is_authenticated %}
        <form action="" method="POST">
          {% csrf_token %}
        				<!--- Post Form Begins -->
                <section class="card">
                  <div class="card-header">
                      <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                          <li class="nav-item">
                              <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Make
                                  a Post</a>
                          </li>
                      </ul>
                  </div>
                  <div class="card-body">
                      <div class="tab-content" id="myTabContent">
                          <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                              <div class="form-group">
                                  <label class="sr-only" for="message">post</label>
                                  {{comments_form.message}}
                              </div>

                          </div>
                      </div>
                      <div class="text-right">
                        <button type="submit" class="btn btn-success">share</button>
                      </div>
                  </div>
              </section>
              <!--- Post Form Ends -->
        </form>
        {% else %}
        <br><br><br>
        <h2>To add a comment Just login</h2>
        <a href="{% url 'register:membership' %}" class="btn btn-warning">Go To Membership</a>
        <br><br>
        {% endif %}
        {% for comment in comments %}
        <div class="media comment-box">
          <div class="media-left">
              <a href="#">
                  <img class="img-responsive user-photo" src="{{comment.writer.profile.image.url}}">
              </a>
          </div>
          <div class="media-body">
              <h4 class="media-heading">{{comment.writer}}</h4>
              <p>{{comment.message}}</p>
            
          </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}

<!-- <img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt=""> -->