{% extends 'base.html' %}
{% block title %}Med News{% endblock %}
{% block main %}
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
{% endif %}
<style>
    .emp-profile{
        padding: 3%;
        margin-top: 3%;
        margin-bottom: 3%;
        border-radius: 0.5rem;
        background: #fff;
    }
    </style>
    {% if not request.user.is_authenticated %}
    <div class="card text-center emp-profile">
        <div class="card-body">
            <h5 class="card-title">🥳Welcome Guys to the best Website which give the beset Medical News ever.🥳</h5>
            <p class="card-text">👉 You can find here every thing about medcine you can even create an account and start posting some great article 👈 <br> 🤩 enjoy 🤩 </p>
            <a href="{% url 'register:membership' %}" class="btn btn-outline-warning">Let's get started 👉</a>
        </div>
    </div>
    {% endif %}
    

    <div class="card text-center emp-profile">
            <div class="row" >
                {% for article in page_obj %}
                <div class="card ar_div" style="width: 18rem;">
                    <img src="{{article.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Monda', sans-serif;">{{article.title}}</h5>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    </div>
                    <div class="container">
                      <a href="{% url 'main:details' article.id %}" class="btn btn-outline-primary">Read More ...</a>
                    </div>
                    <br>
                </div>
                {% endfor %}
            </div>
            
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}
        {% for x in paginator.page_range %}
          <li class="page-item"><a class="page-link" href="?page={{x}}">{{x}}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>
        {% endif %}
        </ul>
      </nav>



{% endblock %}